

<%= render 'shared/topnavbar' %>
<br>
<h1>All superpowers</h1>
<div>
  <div>
<br>
  <div class ="search-bar-container" >
    <div class="search-form">

      <%= simple_form_for :search, method: :get,
        defaults: { required: false } do |f| %>
        <div class ="searchstylecontainer">
          <div class="searchstyle">
            <%= f.input :search, placeholder: 'Which power do you want?',
            input_html: { name: 'search',
            value: params.dig(:search) } %>
          </div>
          <div class="pricestyle">
            <%= f.input :min_price, placeholder: 'Min',
              required: false,
              input_html: { type: :number,
              name: :min_price,
              value: params.dig(:min_price) } %>
            <%= f.input :max_price, placeholder: "Max",
              required: false,
              input_html: { type: :number,
              name: :max_price,
              value: params.dig(:max_price) } %>
            </div>
            <div class="datestyle">
              <%= f.input :starts_at, place: "Start at",
                  input_html: { type: :date,
                                name: :starts_at,
                                value: params.dig(:starts_at) } %>
              <%= f.input :ends_at, label: "End at",
                  input_html: { type: :date,
                                name: :ends_at,
                                value: params.dig(:ends_at) } %>
            </div>
  </div>

            <div class= "search_bar_button">
              <%= f.submit "Searching", class: "btnsearch" %>
                <% end %>
              <%= link_to "Clear filters", superpowers_path, class: "btnclear"%>
            </div>
      </div>

  <div class = "text-part">
    <p> " Become the super-hero you always wanted ! " </p>
  </div>
</div>

<div  class="container">
    <div class="cards-container">
      <% @superpowers.each do |superpower| %>
        <div class="card-trip">
         <%= link_to superpower_path(superpower) do %>
            <% if superpower.photos.attached? %>
              <%= cl_image_tag superpower.photos.first.key, height: 300, width: 400, crop: :fill %>
            <% else %>
              <%= image_tag "superpower.jpg" %>
            <% end %>
          <% end %>

          <div class="card-trip-infos">
              <h3 id=color><%= superpower.name%></h3>
              <h3 class="card-trip-pricing"><%= superpower.price %>$</h3>
              <%# class="card-trip-user avatar-bordered" %>
          </div>
        </div>
      <% end %>
    </div>
</div>

<%#
<form novalidate="novalidate" class="simple_form search" action="/superpowers" accept-charset="UTF-8" method="get" style="display: flex;">
          <div class="mb-3 string optional search_search"><label class="form-label string optional" for="search_search">Search</label><input class="form-control string optional" name="search" placeholder="Which power do you want?" type="text" id="search_search"></div>
          <div class="mb-3 string optional search_min_price"><label class="form-label string optional" for="search_min_price">Min price</label><input class="form-control string optional" type="number" name="min_price" placeholder="Minimum price" id="search_min_price"></div>
          <div class="mb-3 string optional search_max_price"><label class="form-label string optional" for="search_max_price">Max price</label><input class="form-control string optional" type="number" name="max_price" placeholder="Maximum price" id="search_max_price"></div>
          <div class="mb-3 string optional search_starts_at"><label class="form-label string optional" for="search_starts_at">Starts at</label><input class="form-control string optional" type="date" name="starts_at" id="search_starts_at"></div>
          <div class="mb-3 string optional search_ends_at"><label class="form-label string optional" for="search_ends_at">End at</label><input class="form-control string optional" type="date" name="ends_at" id="search_ends_at"></div>
            <div class="search_bar_button">
            <input type="submit" name="commit" value="Searching" class="btn btn-ghost" data-disable-with="Searching">
          <a class="btn btn-ghost" href="/superpowers">Clear filters</a>
            </div></form> %>
