
<%= render 'shared/topnavbar' %>
<br>
<h1>All superpowers</h1>
  <div>
    <div>
      <%= simple_form_for :search, method: :get,
        defaults: { required: false } do |f| %>
          <%= f.input :search, label: "Which superpower do you want?",
          input_html: { name: 'search',
          value: params.dig(:search) } %>
      <%= f.input :min_price, label: "Min price",
        required: false,
        input_html: { type: :number,
        name: :min_price,
        value: params.dig(:min_price) } %>
      <%= f.input :max_price, label: "Max price",
        required: false,
        input_html: { type: :number,
        name: :max_price,
        value: params.dig(:max_price) } %>
        <% end %>
    </div>
    <div>
    <%= simple_form_for :search, method: :get,
        defaults: { required: false } do |f| %>
      <%= f.input :starts_at, label: "Start at",
          input_html: { type: :date,
                        name: :starts_at,
                        value: params.dig(:starts_at) } %>
      <%= f.input :ends_at, label: "End at",
          input_html: { type: :date,
                        name: :ends_at,
                        value: params.dig(:ends_at) } %>
      </div>
      <%= f.submit "looking for " %>
      <% @superpowers.each do |superpower| %>
      <li><%= superpower.name %> | <%= superpower.price %> | <%= superpower.description %></li>
    <% end %>
    <% end %>
  </div>

<%= link_to "Rent your superpower", new_superpower_path, class: "btn btn-ghost"%>


<div  class="container">
<h1><strong>All the superpowers</strong></h1>
    <div class="cards-container">
              <% @superpowers.each do |superpower| %>
        <div class="superpowerCard">
                <%= image_tag "superpower.jpg", alt: "superpower", width: 200 %>
                <%= link_to superpower.name, superpower_path(superpower) %>
                <%= superpower.description%>
                <%= superpower.price %>
        </div>
              <% end %>
    </div>
</div>
