<p><%=@superpower.id  %></p>
<p><%= @superpower.name %> </p>
<p><%= @superpower.description %> </p>




<%=link_to new_superpower_booking_path(@superpower) do %>
        <i class="fa fa-plus"></i>booking
      <% end %>
  <br>
  <br>
  <%=link_to root_path do %>
        <i class="fa fa-history"></i>Rollback
      <% end %>
<br>
<br>
<%=link_to new_superpower_review_path(@superpower) do %>
        <i class="fa fa-plus"></i>Review your superpower
      <% end %>

<br>
<br>
<%=link_to new_superpower_booking_path(@superpower) do %>
        <i class="fa fa-plus"></i>booking
      <% end %>
      <%= link_to "delete", superpower_path(@superpower), method: :delete, data: { confirm: "Are you sure you want to remove your Superpower? ", class: 'text-danger'} %>


  <div class="col-12 col-sm-6">
      <h3>Reviews</h3>
      <% if @superpower.reviews.empty? %>
        <small><em class="text-muted">Be the first one to review this list</em></small>
      <% end %>
      <% @superpower.reviews.each do |review| %>
        <div>
          <% review.content do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"><%= review.content %></p>
      <%= link_to "delete", review_path(review), method: :delete, data: { confirm: "Are you sure you want to remove your review? ", class: 'text-danger'} %>
        </div>
        <hr>
      <% end %>
    </div>
    <br>
    <br>
    </div>
    </div>
