
<%=render 'shared/topnavbar'%>
<div class ="img_banner"></div>
<div data-controller="validate">
  <div class="popup" data-validate-target="validate">
    <h1>Do you feel it ?! You're now a Super Hero !</h1>
    <h2>Careful tho, use it well ! Like Uncle Ben said "With great Power comes great responsibility"</h2>
    <p>Your new power : <%= @superpower.name %> </p>
    <p>For : dates...</p>
    <a class ="croix "href="" data-action="click->validate#hidePopup">X</a>
  </div>
  <div class="bigbigcontainer" data-validate-target="container">
    <div class="bigcontainer">
      <div class ="superpower_card">
        <div class ="img_banner">
          <% @superpower.photos.each do |photo|%>
            <%= cl_image_tag photo.key, height: 200, width: 300, crop: :fill %>
          <% end %>
        </div>
        <h1><%= @superpower.name %> </h1>
        <h2><%= @superpower.description%></h2>
        <h3><p><%= @superpower.price%> $</p></h3>
        <p class= "btn btn-secondary" >
          <%= link_to "edit", edit_superpower_url(@superpower) %> </p>
        <p class= "btn btn-secondary"> <%= link_to "delete", superpower_path(@superpower), method: :delete, data: { confirm: "Are you sure you want to delete your superpower ðŸ§? ", class: 'text-danger'} %>
        </p>
      </div>
      <div class="bookingcontainer">
        <div class="container">
          <div class="form-wrapper">
            <%= simple_form_for [@superpower, @booking], html: { 'data-action': "submit->validate#displayPopup"} do |f| %>
            <%= f.input :starts_at, label: "Select your renting dates ðŸ“† ",
                                    as: :string,
                                    required: false,
                                    input_html: { id: "range_start", class: "d-none"} %>
            <%= f.input :ends_at, label: false,
                                  as: :string,
                                  required: false,
                                  input_html: { id: "range_end", class: "d-none" } %>
            <%= f.button :submit, "Book", class: "btn btn-secondary" %>
            <% end %>
          </div>
        </div>
        <div id="booking-form-div"
            data-bookings="<%= @bookings_dates.to_json %>">
        </div>

      </div>
    </div>

    <br>
    <br>
  <hr>
<div class="col-12 col-sm-6">
    <%= pluralize @superpower.reviews.size, "Reviews" %>
    <% if @superpower.reviews.empty? %>
      <small><em class="text-muted">Be the first one to review this list</em></small>
    <% end %>
      <% @superpower.reviews.each do |review| %>
          <% review.content do %>
            <i class="fas fa-star star-yellow"></i>
          <% end %>
          <small><em class="text-muted"><%= distance_of_time_in_words_to_now(review.created_at) %> ago</em></small>
          <p class="mb-0"> <hr><%= review.content %> <hr></p>
          <%= link_to "delete", review_path(review), method: :delete, data: { confirm: "Are you sure you want to remove your review? ", class: 'text-danger'} %>
        <% end %>
    </div>

    <div data-controller="popup">
      <div class="d-none" data-popup-target="modal">
        <%= simple_form_for [ @superpower, @review ] do |f| %>
          <%= f.input :content, class: "review_content"%>
          <%= f.submit "Send", class: "btn btn-ghost"%>
        <% end %>
      </div>
        <hr>
      <a href="#" data-action="click->popup#toggleModal" class= "btn btn-ghost">Add a review !</a>
    </div>

  </div>
</div>
