<p><%=@superpower.id  %></p>
<p><%= @superpower.name %> </p>
<p><%= @superpower.description %> </p>

<%=link_to new_superpower_booking_path(@superpower) do %>
        <i class="fa fa-plus"></i>boooooking
      <% end %>
  <br>
  <br>
  <%=link_to root_path do %>
        <i class="fa fa-history"></i>Rollback
      <% end %>
